@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@keyframes scaleInfinite {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

@keyframes moveInfinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.black-background {
  background-color: #050709;
}

.purple-background {
  background-color: #0F0715;
}

.scale-infinite {
  animation: scaleInfinite 5s ease-in-out infinite;
}

.marquee-banner {
  animation: moveInfinite 10s linear infinite;
  display: flex;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #0F0715;
    color: #DDDDDD;
    overflow-x: hidden;
}